{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h2>Create a developer account</h2>
  <form action="/accounts/developer_registration/" method="post">
      {% csrf_token %}
      {% for field in dev_reg_form %}
        {% if field.errors %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field }}
                <span class="help-inline">
                    {% for error in field.errors %}{{ error }}{% endfor %}
                </span>
                {% if field.help_text %}
                    <p class="help-inline"><small>{{ field.help_text }}</small></p>
                {% endif %}
            </div>
        {% else %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                    <p class="help-inline"><small>{{ field.help_text }}</small></p>
                {% endif %}
            </div>
        {% endif %}
      {% endfor %}

      {% for field in user_form %}
        {% if field.errors %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field }}
                <span class="help-inline">
                    {% for error in field.errors %}{{ error }}{% endfor %}
                </span>
                {% if field.help_text %}
                    <p class="help-inline"><small>{{ field.help_text }}</small></p>
                {% endif %}
            </div>
        {% else %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                    <p class="help-inline"><small>{{ field.help_text }}</small></p>
                {% endif %}
            </div>
        {% endif %}
      {% endfor %}
  <button type="submit" class="btn btn-default">Submit</button>
  </form>
{% endblock %}
